.main_6 {
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        z-index: 3;
        /* 수정 */
        opacity: 1;
      }
    }
    .img_wrap {
      width: 900px;
      height: 900px;
      display: flex;
      flex-wrap: wrap;

      .tail {
        cursor: pointer;
        width: calc(100% / 20);
        height: calc(100% / 20);
        /* 수정 */
        background-color: #009efd;
        opacity: 0.4;
      }
    }
  }
}
